{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>🏘️ Bairros</h3>
    <a href="/bairros/novo/" class="btn btn-primary">+ Novo Bairro</a>
</div>

<table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Mapa</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for b in bairros %}
        <tr>
            <td><strong>{{ b.nome }}</strong></td>

            <td>
                {% if b.cep %}
                    {{ b.cep }}
                {% else %}
                    <span class="text-muted">Não informado</span>
                {% endif %}
            </td>

            <td>
                {% if b.endereco %}
                    {{ b.endereco }}
                {% else %}
                    <span class="text-muted">Não informado</span>
                {% endif %}
            </td>

            <td>
                {% if b.latitude and b.longitude %}
                    <iframe
                        width="250"
                        height="150"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        src="https://www.google.com/maps?q={{ b.latitude }},{{ b.longitude }}&output=embed">
                    </iframe>
                {% else %}
                    <span class="text-muted">Sem localização</span>
                {% endif %}
            </td>

       <td>
    <a href="/bairros/editar/{{ b.id }}/" class="btn btn-warning btn-sm">✏️</a>

    <a href="/bairros/excluir/{{ b.id }}/" class="btn btn-danger btn-sm">🗑️</a>
</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Nenhum bairro cadastrado</td>
        </tr>

     
        {% endfor %}
    </tbody>
</table>

{% endblock %}