{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">🗑 Confirmar Exclusão</h4>
    </div>

    <div class="card-body">

        <p>Tem certeza que deseja excluir o líder:</p>

        <h5>{{ obj.nome_completo }}</h5>

        <form method="POST">
            {% csrf_token %}

            <button class="btn btn-danger">Sim, excluir</button>
            <a href="/lideres/" class="btn btn-secondary">Cancelar</a>
        </form>

    </div>
</div>

{% endblock %}