{% extends "base.html" %}

{% block content %}

<div class="card shadow">
    <div class="card-header">
        <h4>Editar Bairro</h4>
    </div>

    <div class="card-body">

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Nome</label>
                <input type="text" name="nome" class="form-control" value="{{ bairro.nome }}" required>
            </div>

            <div class="mb-3">
                <label>CEP</label>
                <input type="text" name="cep" class="form-control" value="{{ bairro.cep }}">
            </div>

            <div class="mb-3">
                <label>Endereço</label>
                <input type="text" name="endereco" class="form-control" value="{{ bairro.endereco }}">
            </div>

            <div class="mb-3">
                <label>Latitude</label>
                <input type="text" name="latitude" class="form-control" value="{{ bairro.latitude }}">
            </div>

            <div class="mb-3">
                <label>Longitude</label>
                <input type="text" name="longitude" class="form-control" value="{{ bairro.longitude }}">
            </div>

            <button class="btn btn-success">Salvar</button>
            <a href="/bairros/" class="btn btn-secondary">Voltar</a>

        </form>

    </div>
</div>

{% endblock %}