{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Líderes</h3>
    <a href="/lideres/novo/" class="btn btn-primary">Novo Líder</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Bairro</th>
        </tr>
    </thead>

    <tbody>
        {% for l in lideres %}
        <tr>
            <td>{{ l.user.username }}</td>
            <td>{{ l.bairro.nome }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum líder cadastrado</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}