{% extends "base.html" %}

{% block content %}

<h3>🏆 Ranking de Líderes</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Líder</th>
            <th>Bairro</th>
            <th>Total de Pessoas</th>
        </tr>
    </thead>

    <tbody>
        {% for l in ranking %}
        <tr>
            <td>{{ forloop.counter }}º</td>
            <td>{{ l.user.username }}</td>
            <td>{{ l.bairro.nome }}</td>
            <td>{{ l.total_pessoas }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum dado</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}