{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema Campanha</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- 🗳️ BANNER DO CANDIDATO -->


<div class="d-flex">

    
    <!-- MENU LATERAL -->
    <div class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">

        <h4 class="text-center">Campanha 2026</h4>
        <hr>
    <div class="position-relative text-center text-white shadow">

        <img src="{% static 'banner.png' %}"
        style="width: 50%; max-height: 300px; ">
        <p>Flávio Bolsonaro</p>
        <p>Vote : PL 22</p>
    </div>
    <hr>
    
    <ul class="nav flex-column">
        
        <li class="nav-item">
            
            <a class="nav-link text-white" href="/">📊 Dashboard</a>
        </li>
        
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/ranking/">🔥 Ranking</a>
                    </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/bairros/">🏘️ Bairros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/lideres/">👨‍✈️ Líder</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/pessoas/">👥 Pessoas</a>
            </li>



        </ul>

        <hr>

        <nav class="navbar navbar-light bg-light px-3 mt-3">

            <span class="navbar-text">
                👤 {{ request.user.username }}

                {% if request.user.perfil %}
                ({{ request.user.perfil.tipo }})
                {% endif %}
            </span>

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm">Sair</button>
            </form>

        </nav>

    </div>

    <!-- CONTEÚDO -->
    <div class="flex-grow-1 p-4">
        {% block content %}{% endblock %}
    </div>

</div>

<!-- 📊 SCRIPTS (Chart.js correto) -->
{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    {% if is_admin %}

        const ctx = document.getElementById('graficoLideres');

        if (!ctx) return;

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Pessoas por Líder',
                    data: {{ dados|safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.6)'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    {% endif %}

});
</script>

{% endblock %}

</body>
</html>